.container {
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}

html,
body {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#name {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
   /* color: #99CCFF;*/
    font-size: 90px;
    margin-top: 10px;
    text-transform: uppercase;
    word-spacing: 40px;
    letter-spacing: 12px;
    color: #D0F8FF;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}



#job {
    color: #CCE5FF;
    font-family: 'Domine', serif;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    word-spacing: 60px;
    letter-spacing: 5px;
}

.pageOne {
    background-image: url("../images/page1.jpeg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    opacity: 1;
    text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
    transition: all 3s linear;
    animation: sharpen 1.0s linear backwards;
}

.pageOne:hover {
    text-shadow: 0px 0px 40px #fff;
}

.pageOne:nth-child(1) {
    animation-delay: 0s;
}

.pageOne:nth-child(2) {
    animation-delay: 0.0s;
}

.pageOne:nth-child(3) {
    animation-delay: 0.0s;
}


/* ...and so on for all the letters */

@keyframes sharpen {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 100px #fff;
        color: transparent;
    }
    90% {
        opacity: 0.9;
        text-shadow: 0px 0px 10px #fff;
        color: transparent;
    }
    100% {
        color: #fff;
        opacity: 1;
        text-shadow: 0px 0px 2px #fff, 1px 1px 4px rgba(0, 0, 0, 0.7);
    }
}

.pageTwo {

      background-image: url("../images/skateboardP.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.pageThree {
        background-image: url("../images/page2.jpeg");

    background-size: cover;
     /*height: 100%;*/
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -12px;
    padding-bottom: 20px;
}

.pageFour {
    background-image: url("../images/page3.jpeg");
    background-size: cover;
      height: 150%;
    background-repeat: no-repeat;
    /*background-position: center;*/
}

.pageFive {
    background-image: url("../images/page4.jpeg");
    background-size: cover;
   /* height: 100%;*/
    background-repeat: no-repeat;
    background-position: center;

}

.pageSix {
        background-image: url("../images/page5.jpeg");
    background-size: cover;
    /*height: 100%;*/
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
}


#head,
#me,
#portfolio,
#contact {
    color: white;
    font-family: 'Alegreya', serif;
    text-align: center;
}

span {
    color: white;
    word-spacing: 2px;
}

#nav {
    width: 750px;
    margin: 0 auto;
    list-style: none;
    margin-top: 50px;
}

#nav li {
    float: left;
}

#nav a {
    display: block;
    text-align: center;
    width: 150px;
    /* fixed width */
    text-decoration: none;
    color: #CCE5FF;
    line-height: 18px;
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #efefef;
    font-family: 'Montserrat Subrayada', sans-serif;
}

a {
    text-decoration: none;
}

#nav a:hover {
    color: red;
    -moz-box-shadow: 0 0 50px red;
    -webkit-box-shadow: 0 0 50px red;
    box-shadow: 0 0 50px red;
}

.jumbotron {
    background: transparent !important;
}

p {
    font-size: 36px;
    color: #272525;
}

h3 {
    text-align: center;
    color: white;
    font-family: 'Alegreya', serif;
}

td {
    padding: 0 120px 0 150px;
}

#list {
    column-count: 1;
}

#list1 {
    column-count: 1;
}

#skills {
    text-align: center;
    margin-right: 470px;
    margin-bottom: 20px;
    text-decoration: underline;
    font-family: 'Alegreya', serif;
    color: white;

}

.skill-set {
  font-family: 'Alegreya', serif;
  font-size: 18px;
  color: white;
}

#ovo {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
}

.motto {
    text-indent: 40px;
    font-family: 'Alegreya', serif;
    margin-right: auto;
    margin-left: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 36px;
    color: white;
}

.about-me {
    text-indent: 40px;
    font-size: 27px;
    text-align: left;
    font-family: 'Alegreya', serif;
    margin-right: 400px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    margin-bottom: 80px;
}

#motto {
    font-family: 'Alegreya', serif;
    text-align: center;
    word-spacing: 30px;
}

.downward {
  margin-top: 30%;
}

.work {
    position: relative;
    width: 274px;
    overflow: auto;
    float: left;
    margin: 20px 0 25px 10px;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 50%;
    border: 0 none;
    opacity: .8;
    /* margin-left: 5px; */
}

.project-title {
    text-align: left;
}

.pictures {
    height: 100px;
    width: 100px;
}

.at {
    text-align: center;
}

#email {
    color: #CCE5FF;
}

.icons {
    margin-left: 400px;
    word-spacing: 50px;
}

.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

footer {
    padding: 30px 0;
    clear: both;
    width: 100%;
    color: black;
    font-size: 20px;
    text-align: center;
    background: #CCE5FF;
   /* border-top: 8px solid #CCE5FF;*/
    opacity: 0.7;
    margin-top: 200px;
    font-family: 'Dancing Script', cursive;
}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {}
